/Temp
Library/Bee/artifacts/WebGL/il2cppOutput/build/GameAssembly.a
/Library/Bee/artifacts
/Library/PackageCache
Library/ArtifactDB
/Library/Artifacts
/Library/Artifacts
/Library/ShaderCache
/Logs
/Library/ShaderCache
/Library/StateCache
